@import "tailwindcss";

@theme {  
  --color-primary: #E65895;
  --color-secondary: #BC6BE8;
  --color-gray-dark: #393F6E;
  --color-gray-darked: #343964;
  --color-light: #E2E4F3;
  --color-blue: #3E9FFF;
  --color-red: #DD524C;
  --color-gray: #8B8EAB;
  --color-yellow: #FFECC8;
}
body {
  background: transparent url('./bg.jpg') center center no-repeat;
  background-size: cover;
  min-height: 100dvh;
}
.btn {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-block: 1rem;
}
.btn-bg {
  background-image: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary) 100%);
  color: #fff;
}